// custom variables
$light: #ffffff;
$body-bg: #222222;
$btn-border-radius: 20%;
$grid-breakpoints: (
  xs: 0,
  sm: 350px,
  md: 500px,
  lg: 780px,
  xl: 1000px,
  xxl: 1200px
);



@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";


.card-text, .form-text, .card-body {
    color: #ffffff;

  }

.login, .signup {
  border-radius: 20px;
  color:#ffffff;
  background-color: #292929;
  border: 1px solid;
  border-color: $info;
  margin: 15px;
  padding: 15px;
  width: 100%;
  font-size: 8px;
  
}


.logo {
  padding: 15px;
  max-width: 100px;
  text-align: center;
}

.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

input::placeholder {
  color: white;
}


.cover-img {
  object-fit: cover;
  width: 100%;   /* Ensures the image takes up the full width of the container */
  height: 250px; /* Sets a specific height for the image container */
  object-position: top;
  border-radius: 5px 5px 0 0 ;
}

.main-view-img {
  object-fit: cover;
  width: 100%;   /* Ensures the image takes up the full width of the container */
  height: 400px;
  object-position: top;
  border-radius: 5px;
}



.nav-link,
.navbar-text,
.navbar-brand,
.nav-link.active {
  color: $info;
  padding-left: 15px;
  padding-right: 15px;

  &:hover,
  &:focus {
    color: #ffffff;
  }
}
