// custom variables
$light: #ffffff;
$body-bg: #222222;
$btn-border-radius: 20%;
$form-text-color: #ffffff;
$input-color: #ffffff;


@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_variables-dark";x



.card-text, .form-text, .card-body {
    color: #ffffff;

  }

.login, .signup {
  border-radius: 20px;
  color:#ffffff;
  background-color: #292929;
  border: 1px solid;
  border-color: $info;
  margin: 15px;
  padding: 15px;
  width: 100%;
  font-size: 0.7rem;
  
}

// .welcome-bg {
//   background-image: url("/src/bg-movies.jpg");
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-position: center;
  
// }


.logo {
  padding: 15px;
  max-width: 100px;
  text-align: center;
}

.logo-large {
  padding: 15px;
  max-width: 15rem;
  text-align: center;
}

.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

/* Use !important to force the styles */
::placeholder {
  color: white !important;
  opacity: 0.5 !important; /* Ensures the color is not faded */
  font-size: 0.8rem;
}


//filter

.custom-select {
  background-color: #292929; 
  color: #ffffff; 
  border: 1px solid $warning; /* Yellow border */
  border-radius: 5px; /* Rounded corners */
  padding: 5px;
}

.custom-select:focus {
  border-color: #ffffff;
  box-shadow: none;
}

// placeholder fields


.placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  cursor: wait;
  color: white;

  &.btn::before {
    display: inline-block;
    content: "";
  }
}





.filled {
  color: #ffffff;
}

input:not(.placeholder) {
  background-color: initial; /* or any other color that fits your design */
  color: initial; /* default color */
}


.cover-img {
  object-fit: cover;
  width: 100%;   /* Ensures the image takes up the full width of the container */
  height: 250px; /* Sets a specific height for the image container */
  object-position: top;
  border-radius: 5px 5px 0 0 ;
}

.main-view-img {
  object-fit: cover;
  width: 100%;   /* Ensures the image takes up the full width of the container */
  height: 400px;
  object-position: top;
  border-radius: 5px;
}





.nav-link,
.navbar-text,
.navbar-brand,
.nav-link.active {
  color: $info;
  padding-left: 15px;
  padding-right: 15px;

  &:hover,
  &:focus {
    color: #ffffff;
  }



}
